:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preto);
    font-family: 'Netflix Sans Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header .logo{
    width: 5%;
    margin: 20px;
}

header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-family: 'Netflix Sans Light','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header nav a:hover{
    color: rgb(163, 163, 163);
}

@font-face {
    font-family: "Netflix Sans Bold";
    src: url('font/netflix-sans/Netflix Sans Bold.otf') format("opentype");
}

@font-face {
    font-family: "Netflix Sans Light";
    src: url('font/netflix-sans/Netflix Sans Light.otf') format("opentype");
}

@font-face {
    font-family: "Netflix Sans Medium";
    src: url('font/netflix-sans/Netflix Sans Medium.otf') format("opentype");
}




/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../img/dexter-capa.jpg");

    height: 1000px;
    background-size: cover;
    margin-top: -65px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 80px;
    font-family: 'Netflix Sans Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.filme-principal .serie-logo{
    width: 60%;
}

.filme-principal .mensagem-suplementar{
    font-family: 'Netflix Sans Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 26px;
    margin-top: 2px;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 26px;
    font-family: 'Netflix Sans Light','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.botao{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
    padding: 15px 40px;
    margin-right: 10px;
    font-size: 22px;
    font-family: 'Netflix Sans Medium','Helvetica Neue',Helvetica,Arial,sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s ease all;
}

.botao:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.botao i{
    margin-right: 8px;
}

#botaoAssistir{
    background-color: white;
    color: black;

}
#botaoAssistir:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
}

.filme-principal .container{
    width: 35%;
}

.titulo-de-topico{
    font-family: 'Netflix Sans Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 26px;
    margin-top: -130px;
    margin-bottom: 5px;
}


/*Carousel de imagens*/
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-right: 100px;
    border-radius: 4px;
}
